{% extends 'handball_app/base_navbar.html' %}
{% load static %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'handball_app/css/styles.css' %}" rel="stylesheet" />
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    </head>
    <body id="page-top">
{% endblock head %}

<!-- Navigation-->

{% block body_resto %}  
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">
                            {% block titulo %}
                            {% endblock titulo %}
                        </h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        {% block subtitulo %}
                        <p class="text-white-75 mb-5">Base de datos de jugadores, equipos y ligas de handball</p>
                        <a class="btn btn-primary btn-xl" href="#about">Descrubre más!</a>
                        {% endblock subtitulo %}  
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        {% block about %}
                        <h2 class="text-white mt-0">Datos de handball!</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">La página contien un listado de todos los jugadores, clubes y ligas de handball profesional, que forman parte de la competencia internacional del deporte (el cual practico de forma muy amateur). </p>
                        <p class="text-white-75 mb-4">El actual proyecto se propone como una continuación del proyecto final presentado en el curso SQL de CoderHouse, en el cual se dieñó la estructura de una base de datos (no respetada en esta página) capaz de almacenar los modelos referentes al domino del handball.</p>
                        <p class="text-white-75 mb-4">La idea surge debido a que al momento de comenzar el curso de SQL, em encontraba explorando y practicando como scrappear una página web. En este caso la página Handball Base (https://www.handball-base.com/), la cual está repleta de datos de handball a nivel mundial. </p>
                        <p class="text-white-75 mb-4">La base construida en el curso anterior contenía todos los registros scrappeados de la base. En este caso, solo contine algunos pocos registros introducidos a mano.</p>
                        <p class="text-white-75 mb-4">Explora el contenido!</p>
                        {% endblock about %}  
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action-->
        <section id="datos" class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                {% block datos %}
                
                {% endblock datos %}
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Company Name</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'handball_app/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        {% if gotodiv %}
        <script> window.location.hash = '#{{gotodiv}}'; </script>
        {% endif %}
    </body>
</html>
{% endblock body_resto %}  