{% extends 'handball_app/base_onepage.html' %}
{% load static %}

{% block content %}
<form method="post" >
    {% csrf_token %}
    <h2>Sign In</h2>
    <table class="mx-auto">
        {{ form.as_table }}
    </table>
    {% if mensaje != '' %}
        <p style="color: red;"> {{ mensaje }}</p>
    {% endif %}
    <br>
    <input class="btn btn-primary" type="submit" value="Entrar">
    <a href="{% url 'home' %}" class="btn btn-outline text-white font-weight-bold">Cancel</a>
    </p>
</form>
{% endblock content %}